.content p {
  line-height: 1.5rem;
}
.post {
  line-height: 1.5rem;
}
.post p {
  line-height: 1.5rem;
  margin-top: 0;
}
.post blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
.post blockquote p {
  font-size: 95%;
}
h1 {
  font-size: 1.5em;
}				
h2 {
  font-size: 1.25em;
}				
h3 {
  font-size: 1.0em;
}				
h4 {
  font-size: 0.85em;
}				
h5 {
  font-size: 0.67em;
}				
h6 {
  font-size: 0.67em;
}				
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
